.class {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}

}

.card .card-content {
  max-height: 100%;
  overflow: hidden;
  padding: 0px;
  border-radius: 0 0 2px 2px;
}

.card .card-content p {
  margin: 0;
}

.card .card-image {
  max-height: 60%;
  overflow: hidden;
    position: relative;
}

.card .card-image img {
  display: block;
  border-radius: 2px 2px 0 0;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
}

#PreisButton {
  text-transform:lowercase;
  width: 100%;
  background-color: red;
  color: white;
  border: none;
  border-radius: 0;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-tap-highlight-color: transparent;
}
